@font-face {
    font-family: TradeGothicLT;
    src: url(../Trade_Gothic_Font/TradeGothicLT.ttf);
}

@font-face {
    font-family: TradeGothicLT;
    src: url(../Trade_Gothic_Font/TradeGothicLTBoldExtended.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'FF Good Pro';
    src: local('../FFGoodPro-Medium/FF Good Pro Medium'), local('../FFGoodPro-Medium/FF-Good-Pro-Medium'),
        url('../FFGoodPro-Medium/') format('woff2'),
        url('../FFGoodPro-Medium/FFGoodPro-Medium.woff') format('woff'),
        url('../FFGoodPro-Medium/FFGoodPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    font-family: TradeGothicLT, sans-serif;
}

p {
    margin: 0;
}

.content {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    padding: 30px 0;
    background-color: white;
    transition: all .3s ease-out;
}

header.shadow {
    box-shadow: 0 0 60px rgb(0 0 0 / 50%);
    transition: all .3s ease-out;
}

header.hide {
    transform: translateY(-101%);
    transition: all .3s ease-out;
}

header .conntent {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

header div {
    display: flex;
    width: 33%;
    align-items: flex-end;
    font-weight: bold;
    font-size: 14px;
}

header .mid {
    justify-content: center;
}

header .right{
    justify-content: flex-end;
}

header .left p:nth-child(2) {
    margin-left: 50px;
}

header img {
    width: 100%;
    max-width: 180px;
}

header p:hover {
    border-bottom: 2px solid black;
    transform: translateY(2px);
}

header p {
    cursor: pointer;
    margin-bottom: 10px;
}

.top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/SW-3.jpg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.top .topContent {
    display: flex;
    flex-direction: column;
    /* padding-top: 400px; */
    width: 35%;
    margin-left: auto;
    font-size: 40px;
    color: #fff;
}

.top h1 {
    z-index: 1;
    filter: drop-shadow(0 0 30px #1f1e21);
    font-family: FF Good Pro Comp Ultra;
    font-weight: unset;
    margin-bottom: -0.12em;
    text-transform: uppercase;
    line-height: .9em;
    letter-spacing: .02em;
    font-size: 7.5rem;
    margin-top: 0;
}

.top h1 span {
    color: #da291c;
}

.top p {
    font-size: 20px;
    filter: drop-shadow(0 0 30px #1f1e21) drop-shadow(0 0 20px #1f1e21) drop-shadow(0 0 10px #1f1e21);
    margin-top: 1.5rem;
}

.button p {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .05em;
    font-weight: bold;
    padding: .85rem 2rem;
    width: fit-content;
    filter: none;
}

.button {
    background-color: #da291c;
    width: fit-content;
}

.buttonWrap {
    margin-top: 2.5rem;
}
