@font-face {
    font-family: 'TradeGothicLT';
    src: url('../Trade_Gothic_Font/TradeGothicLTLight.ttf');
}

@font-face {
    font-family: 'TradeGothicLT';
    src: url('../Trade_Gothic_Font/TradeGothicLTBoldNo2.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'FF Good Pro';
    src: local('../FFGoodPro-Medium/FF Good Pro Medium'), local('../FFGoodPro-Medium/FF-Good-Pro-Medium'),
        url('../FFGoodPro-Medium/') format('woff2'),
        url('../FFGoodPro-Medium/FFGoodPro-Medium.woff') format('woff'),
        url('../FFGoodPro-Medium/FFGoodPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    font-family: TradeGothicLT;
}

p {
    margin: 0;
    line-height: 1.6;
}

.content {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

header {
    position: fixed;
    top: 0px;
    z-index: 1000;
    width: 100%;
    padding: 30px 0;
    background-color: white;
    transition: all .3s ease-out;
}

header.shadow {
    box-shadow: 0 0 60px rgb(0 0 0 / 50%);
    transition: all .3s ease-out;
}

header.hide {
    transform: translateY(-101%);
    transition: all .3s ease-out;
}

header .conntent {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

header div {
    display: flex;
    width: 33%;
    align-items: flex-end;
    font-weight: bold;
    font-size: 14px;
}

header .mid {
    justify-content: center;
}

header .right {
    justify-content: flex-end;
}

header .left p:nth-child(2) {
    margin-left: 50px;
}

header img {
    width: 100%;
    max-width: 180px;
}

header p:hover {
    border-bottom: 2px solid #1f1e21;;
    transform: translateY(2px);
}

header p {
    cursor: pointer;
    margin-bottom: 10px;
    color: #1f1e21;
}

 .topHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/SW-3.jpg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.topHead .topContent {
    display: flex;
    flex-direction: column;
    /* padding-top: 400px; */
    width: 40%;
    margin-left: auto;
    font-size: 40px;
    color: #fff;
}

h1 {
    z-index: 1;
    filter: drop-shadow(0 0 30px #1f1e21);
    font-family: FF Good Pro Comp Ultra;
    font-weight: unset;
    margin-bottom: -0.12em;
    text-transform: uppercase;
    line-height: .9em;
    letter-spacing: .02em;
    font-size: 7.5rem;
    margin-top: 0;
}

h2 {
    font-size: 4rem;
    margin-bottom: -0.12em;
    text-transform: uppercase;
    line-height: .9em;
    letter-spacing: .02em;
    font-family: FF Good Pro Comp;
    font-weight: 900;
    color: #1f1e21;
}

.topHead h1 span {
    color: #da291c;
}

.topHead p {
    font-size: 20px;
    filter: drop-shadow(0 0 30px #1f1e21) drop-shadow(0 0 20px #1f1e21) drop-shadow(0 0 10px #1f1e21);
    margin-top: 1.5rem;
    font-family: TradeGothicLT;
}

.button p {
    display: inline-flex;
    position: relative;
    align-items: center;
    transition: background-color .35s ease-out, color .35s ease-out;
    z-index: 1;
    margin: -0.15em -0.65em;
    background-color: transparent;
    padding: 0.15em 0.65em;
    line-height: 1.5em;
    font-size: 1.0625rem !important;
    z-index: 100;
}

.button {
    border: none;
    text-transform: uppercase;
    letter-spacing: .05em;
    position: relative;
    display: inline-block;
    font-weight: 700;
    color: #1f1e21;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    /* border: 2px solid transparent; */
    padding: 0.85rem 2rem;
    font-size: 1.0625rem !important;
    line-height: 1.6;
    border-radius: 0;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bg-fisherman-s-frriend-red {
    background-color: #da291c;
}

.bg-mint-package {
    background-color: #47d7ac!important;
}

.text-white {
    color: #fff;
    filter: none !important;
}

.buttonWrap {
    margin-top: 2.5rem;
}

.stripe-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    background-color: #da291c;
    transition: background-color .15s ease-in-out;
}


.stripe {
    fill: #fff;
    transform: rotate(45deg);
    transition: transform 0.1s ease-in-out;
    height: 150%;
}

.stripe.red {
    fill: rgb(229, 105, 96)
}

.stripe.mint {
    fill: #7ee3c5;
}

.stripe-button svg {
    position: relative;
    z-index: 1;
}

.stripe-1 {
    transition-delay: 0.3s;
}

.stripe-2 {
    transition-delay: 0.4s;
}

.stripe-3 {
    transition-delay: 0.3s;
}

.stripe-4 {
    transition-delay: 0.1s;
}

.stripe-5 {
    transition-delay: 0.2s;
}

.stripe-6 {
    transition-delay: 0.1s;
}

.button:hover .stripe {
    transform: rotate(45deg) translate(0, -100%);
}

.button:hover p {
    background-color: rgb(229, 105, 96);
}

.button:hover p.mint {
    background-color: #7ee3c5;
}

.row1 {
    display: flex;
    width: 100%;
    padding-top: 112px;
    padding-bottom: 112px;
}

.mintBG {
    background-color: #7ee3c5;
}

.row1 .left, .row1 .right {
    width: 47.5%;
    display: flex;
    align-items: center;
}

.row1 .left {
    padding-left: 2.5%;
}

.row1 .right {
    padding-right: 2.5%;
    flex-direction: column;
    align-items: flex-start;
}

.row1 .left img {
    width: 60%;
    margin-left: 15%;
    border: 10px outset white;
}

.row1 h1 {
    color: #fff;
    filter: none;
    word-wrap: break-word;
}

.row1 h1 span {
    -webkit-text-stroke: 1.5px;
    -webkit-text-fill-color: transparent;
    width: 80%;
}

.row1 p:nth-child(2) {
    font-size: 20px;
    margin-top: 1.5rem;
    color: #fff;
    font-family: TradeGothicLT;
    width: 80%;
}

.row2 {
    margin: 168px 0;
}

.row2 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row2 .top, .row2 .bottom {
    width: 100%;
    display: flex;
}

.row2 .left, .row2 .right    {
    width: 50%;
}

.row2 .right {
    display: flex;
    justify-content: flex-start;
}

.row2 .left {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.row2 img {
    width: 80%;
    z-index: 1;
}

.row2 h1 {
    color: #da291c;
    filter: none;
    font-size: 11rem;
    letter-spacing: 0;
    margin-left: -10%;
    margin-top: 10%;
}

.row2 h2, .row2 p {
    margin-left: -10%;
}

.row2 p {
    font-family: TradeGothicLT;
    /* font-weight: bold; */
    font-size: 1.3125rem;
    margin-top: 1.5rem;
}

.row2 .bottom .right {
    width: 40%;
    color: #1f1e21;
    display: flex;
    flex-direction: column;
}

.row2 .bottom .left {
    align-self: flex-start;
}

.row2 .stripe-box {
    width: 80%;
    transform: translate(-20%, -30%);
}

.row2 .stripe {
    fill: #e56960;
    transform: rotate(45deg) translate(0, -150%);
    height: 300%;
}

.row2 .stripe.mint {
    fill: rgb(0 0 0 / 0%);
}

